
{%  extends 'pages/base.html'  %}
{%  load crispy_forms_tags  %}

{%  block content  %}

<div class="container bg-dark">
<h3>Create Record</h3>
<form method="POST" autocomplete="off">
{%  csrf_token  %}
{{create_form|crispy}}
<br>
<button type="submit" class="btn btn-secondary w-100 btn block p-2">Create Record <i class="fa fa-check" aria-hidden="true"></i></button>
<a href="{%  url 'dashboard'  %}" class="btn btn-dark">Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</form>
</div>

{%  endblock  %}